body {font-family: Arial, Helvetica, sans-serif;

  
}
* {box-sizing: border-box;
}

.container {
    margin: auto;
    width: 75%;
    border: 1px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}

select.dropdown {
  /* margin: auto; */
  float: left;
  margin-top: 21px;
  margin-left: 38px;
}
table {
    margin: auto;
    margin-top: 69px;
    border-collapse: collapse;
    position: relative;
}
.form-popup{
    display: none;
    position: absolute;
    top: 0;;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    width: 500px;
}

  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  .form-container input[type=text], .form-container input[type=number] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }

  .form-container input[type=text], .form-container input[type=date] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  .edit {
    cursor: pointer;
    
  }

  td {
    padding: 0.5rem;
}

.delete {

  cursor: pointer;

}

.search {
  float: right;
  padding: 6px;
  margin-top: 17px;
  margin-right: 15px;
}
.form-container {
  padding: 23px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  width: 70%;
  margin-left: 60%;

}
table .first th{
 
  border-bottom: 1px solid black;
  padding: 1rem;
  cursor: pointer;
}

table .last th{ 

  border-top: 1px solid black;
  padding: 1rem;
}
tbody tr td {
 
  border-top: 1px solid #afabab;
}
span#count {
  float: left;
  margin-left: 38px;
}
.count2{
  border: 1px solid white;
  
}

.button{
  float: right;
  display: inline;
}

td.last-design {
  display: flex;
}

td.last-design {
  display: flex;
  align-items: center;
}

h5#count {
  float: left;
}

#submit-btn{
  background: green;
  color: white;
  padding: 10px 120px;
  border: 1px solid green;
  border-radius: 30px;
  cursor: pointer;
}

button.edit {
  margin-right: 10px;
}


.pagination{
  margin: 3px;
  border: 1px solid black;
  border-radius: 30px;
  padding: 0.3rem 0.5rem;
  color: black;
  background-color: white;
  cursor: pointer;
}

/* .pagination:hover{
  background-color: black;
  color: white;
} */


.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h4#count {
  /* display: flex; */
  margin-left: 50px;
}


.button {
  margin-right: 50px;
}

.pagination:hover{
  background-color: black;
  color: white;
}

.active, .pagination:hover {
  background-color: #666;
  color: white;
}

button.cancelbutton {
  float: right;
  border: none;
  color: black;
  background: none;
  cursor: pointer;
  padding: 0.3rem 0.6rem;
  border: 1px solid white;
  border-radius: 30px;
}
button.cancelbutton:hover{
  background-color: black;
  color: white;
}
